@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
main{
    padding:50px 8%;
    padding-bottom: 80px;
    background-color: #f3f2ef
}

.about-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.about-header {
    text-align: center;
    margin-bottom: 60px;
}

.about-header h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: black;
    margin-bottom: 10px;
}

.title-line {
    display: block;
    width: 100px;
    height: 3px;
    background-color: #c7a17a;
    margin: 0 auto;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    gap: 40px;
}

.about-text{
    flex: 1;
}

.about-text p {

    font-family: 'Poppins', sans-serif;
    color:#333333;
    line-height: 1.6;
    margin-bottom: 16px;
    font-size:  16px;
}


.btn-learn {
    background-color: #c7a17a;
    padding: 12px 35px;
    border-radius: 7px;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

.about-image{
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-image img {
    width:90%;
    border-radius: 15px;
}
.footer .container{
    width: 100%;
}

.copyright{
    width: 100%;
}
@media (max-width: 768px) {
    .about-content {
        width:100%;
        flex-direction: column;
        text-align: center;
    }
    
    .about-text {
        order: 2;
        padding:0 30px;
    }
    
    .about-image {
        order: 1;
        margin-bottom: 30px;
    }
}
