@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
main{
    padding:50px 8%;
    background-color: #f3f2ef;
}

.destinations-header{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color:black;
     text-align: center;
     text-transform: capitalize;
     margin-bottom: 60px;
}
.title-line {
    display: block;
    width: 100px;
    height: 3px;
    background-color: #c7a17a;
    margin: 0 auto;
    margin-top: 10px;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.box{
    background-color: #fbf8f8;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}
.box:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0, 0, 0.1);
}
.photo{
    position: relative;
    height: 220px;
    width: 100%;
    overflow: hidden;

}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
   
}

.txt{
    padding: 20px;
    text-align: left;
}
.txt h3{
    margin-bottom: 10px;
    color: #323232;

}
.txt p{
    font-size: 15px;
    color:#636161;
    margin-bottom:15px ;
}
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    border-top: 1px solid #c7a17a;
    padding-top: 10px;
    font-size: 13px;
    color: #636161;
}
.footer{
    background-color: #1f2226;
    color:#ffffff;
    padding: 60px 0 20px;
    font-family: 'Poppins',sans-serif;
    margin-top: auto;

}
.footer .container{
    width: 100%;
}
.copyright{
    width: 100%;
}
.details span{
    display: flex;
    align-items: center;
    gap: 5px;
}
span i{
    color: #c7a17a;
}
@media(max-width:992px)
{
  .cards-grid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:600px)
{
  .cards-grid{
    grid-template-columns: 1fr;
  }
}

