@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}
.container{
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header{
     background-color:  #ffffff;
     padding: 0 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);/*عشان نخفي الفاصل الواضح بين الهيدر و المين*/
    position: sticky;
    width: 100%;
    z-index:100;
    top:0;
}
.header .container{
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo h1{
    font-family: 'Merriweather',sans-serif;
    font-size: 28px;
}
.logo h1{
    color: #1f2226;
}
.logo h1 span{
    color: #c7a17a;
}
.logo{
    line-height: 24px;
}
.logo i{
    font-size:20px;
}
.logo p{
    font-family: 'Poppins',sans-serif;
    color: #5d4a2e;
    font-weight: 400;
    font-size: 15px;
    transition: 0.3s;
    padding-bottom: 5px;
}
.logo a{
    text-decoration: none;
    
}

.nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    
}

nav ul li {
    margin-left: 100px;
    
}
.nav ul li a{
    display: inline-block;
    text-decoration:none;
    color:#333333;
    font-weight: 400;
    font-size: 15px;
    transition: 0.3s;
    padding-bottom:5px ;
    
    
    
}
.nav li a.active{
    color:#c7a17a;

   
}
.nav li a:hover{
    
    color: #c7a17a;
    
}


.hero{
     padding-top: 100px;
    max-width: 100%;
    margin: 0 auto;
    
    background-image: linear-gradient(0deg,#000000ad,#00000052),url(../images/homepage.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
   height: 100vh;
   display: flex;
   justify-content:center;
   align-items: center;
   text-align: center;
   color: #ffffff;
}
.hero-content{
    width: 100%;
    max-width: 800px;
    padding: 0 15px;
    

}

.hero-content h2{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: clamp(24px,5vw,55px);
max-width: 750px;
margin: 0 auto 30px auto;
text-transform: capitalize;
}
.hero-content p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: clamp(12px,2.5vw,27px);
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    background-color:#997959;
    color: #ffffff;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 7px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    transition: 0.3s ease;


}
.btn:hover{
    
    background-color:#392e1e;
    transform: translatey(2px);
}
.footer{
    background-color: #1f2226;
    color:#ffffff;
    padding: 60px 0 20px;
    font-family: 'Poppins',sans-serif;
    margin-top: auto;

}
.footer .container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo h2{
 font-size: 32px;
 margin-bottom: 10px;
 color: #ffffff;
}
.footer-logo span{
    color:#c7a17a;
}
.footer-logo h2 i{
    font-size:20px;
}
.footer-logo p {
color:#f5f1e8;
max-width: 300px;
font-size: 14px;
}
.footer-links h3{
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
}
.footer-links a {
    display: block;
    color: #f5f1e8;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s ease;
}
.footer-links a:hover{
    color: #c7a17a;
    padding-left: 5px;

}
.copyright{
    text-align:center;
    border-top: 1px solid #3f3f3f;
    padding-top: 20px;
    font-size: 14px;
    color: #7a7a7a;
}
@media (max-width:768px)
{
    .container{
        flex-direction: column;
        justify-content: center;
        align-items:center;
        gap:20px;
        width: 100%;
        padding: 0 20px;
    
        
    }
.nav ul{
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: auto;
    
}
.long{
    order: 5;
}
.header{
    position: relative;
    width: 100%

}
    
    .nav ul li a{
        font-size: 22px;
    }
    .hero{
        height: 70vh;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    .footer-logo p{
        margin: 0 auto;
    }

}
